<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>General Template</title>
    <link rel="stylesheet" href="../css_templates/style.css">
    <link rel="stylesheet" href="../css_templates/general.css">
</head>
<body>
    <main>

        <section class="background">
            <h1 class="project_title">Hehe101</h1>
            <a href="proj_template.html" class="gen_button">Download Here</a>
        </section>

        <section class="details_background">
            <h2>Program Details</h2>
            <p>Do you have a friend that is absolutely technologically inept? Maybe
            you want to prove a point that they should take security a bit more seriously?
            Well this program is perfect fit for this prank!<br>This program simulates a
            TV show "hack scene" whereas tons of command prompts just pop out and spam the screen
            to primarily give the user a scare attack. In reality, nothing is actually happening.
            <h2>How It was Programmed</h2>
            <p>Documentation Information Here
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non massa vitae risus fermentum ullamcorper. Phasellus risus urna, ornare in aliquam id, porttitor sit amet sapien. Nulla facilisi. </p>
        </section>
    </main>
    <footer class="global_footer">
        <div class="footer_body">
            <h2>Interested in what I could offer?</h2>
            <p>Contact Me!</p>

            <p><a href="mailto:calebsc1@uci.edu" class="hover_highlight">calebsc1@uci.edu</a></p>
            <p><a href="tel:+19095737125" class="hover_highlight">1(909)-573-7125</a></p>
            <p>@September 2018 | Caleb Chan </p>

        </div>
    </footer>
</body>
</html>