<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>General Template</title>
    <link rel="stylesheet" href="../css_templates/style.css">
    <link rel="stylesheet" href="../css_templates/general.css">
</head>
<body>
    <main>

        <section class="background">
            <h1 class="project_title">The Name of this Project</h1>
            <a href="proj_template.html" class="gen_button">Download Here</a>
        </section>

        <section class="details_background">
            <h2>Program Details</h2>
            <p>This program was does this and that
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non massa vitae risus fermentum ullamcorper. Phasellus risus urna, ornare in aliquam id, porttitor sit amet sapien. Nulla facilisi.</p>

            <h2>How It was Programmed</h2>
            <p>Documentation Information Here
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non massa vitae risus fermentum ullamcorper. Phasellus risus urna, ornare in aliquam id, porttitor sit amet sapien. Nulla facilisi. </p>
        </section>
    </main>
    <footer class="global_footer">
        <div class="footer_body">
            <h2>Interested in what I could offer?</h2>
            <p>Contact Me!</p>

            <p><a href="mailto:calebsc1@uci.edu" class="hover_highlight">calebsc1@uci.edu</a></p>
            <p><a href="tel:+19095737125" class="hover_highlight">1(909)-573-7125</a></p>
            <p>@September 2018 | Caleb Chan </p>

        </div>
    </footer>
</body>
</html>