<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css_templates/style.css">
    <link rel="stylesheet" href="../css_templates/general.css">
    <title>Writing</title>
</head>
<body>
    <main>
        <section>
            <div class="background">
                <h1 class="project_title">Stuff I have Written</h1>
            </div>
        </section>

        <section>
            <div class="details_background">
                <p><a href="proj_template.html">The first Project: </a>Quick Summary 1</p>
                <br>
                <br>
                <p><a href="proj_template.html">The second Project: </a>Quick Summary 2</p>
                <br>
                <br>
                <p><a href="proj_template.html">The third Project: </a>Quick Summary 3</p>
                <br>
            </div>

        </section>
        <div>
        </div>
    </main>

    <footer class="global_footer">
        <div class="footer_body">
            <h2>Interested in what I could offer?</h2>
            <p>Contact Me!</p>

            <p><a href="mailto:calebsc1@uci.edu" class="hover_highlight">calebsc1@uci.edu</a></p>
            <p><a href="tel:+19095737125" class="hover_highlight">1(909)-573-7125</a></p>
            <p>@September 2018 | Caleb Chan </p>

        </div>
    </footer>
</body>
</html>